<div class="border rounded-lg p-4">
  <div class="flex space-x-4">
    <a [routerLink]="['/product', item().product._id]">
      <img [src]="item().product.mainImage.url" [alt]="item().product.name" class="w-24 h-24 object-cover rounded-lg" />
    </a>

    <div class="flex-1 space-y-2">
      <div class="flex justify-between">
        <div>
          <a [routerLink]="['/product', item().product._id]">
            <h3 class="font-semibold">{{ item().product.name }}</h3>
          </a>
          <div class="text-sm text-gray-600 space-x-2">
            <span>Loại: {{ item().product.category }}</span>
          </div>
        </div>
        <button (click)="cartService.removeCartItem(item().product._id).subscribe()"
          class="text-red-600 hover:text-red-700">🗑️</button>
      </div>

      <div class="flex items-center justify-between">
        <div class="space-y-1">
          <div class="text-lg font-bold text-red-600">{{ '$' + item().product.price }}</div>
          <div class="text-sm text-gray-500 line-through">{{'$'+ item().product.price }}</div>
        </div>
        <div class="flex items-center space-x-2">
          <button (click)="onQuantityChange(item().quantity - 1)" class="h-8 w-8 border rounded">-</button>
          <span class="w-12 text-center font-medium w-[40px] text-center">
            {{ item().quantity }}
          </span>
          <button (click)="onQuantityChange(item().quantity + 1)" class="h-8 w-8 border rounded">+</button>
        </div>
      </div>
    </div>
  </div>
</div>
