<header class="sticky top-0 z-50 bg-primary shadow-sm text-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">
      <!-- Logo -->
      <a href="/" class="text-2xl font-bold text-[--color-primary]">ShopX</a>

      <!-- Navigation links (hidden on mobile) -->
      <nav class="hidden md:flex space-x-8 text-[--color-text] font-medium">
        <a href="#" class="">Trang chủ</a>
        <a href="#" class="">Sản phẩm</a>
        <a href="#" class="">Ưu đãi</a>
        <a href="#" class="">Liên hệ</a>
      </nav>

      <!-- Right side icons -->
      <div class="flex items-center space-x-4">
        <!-- Search (optional) -->
        <button class="hidden md:block text-[--color-muted] ">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M21 21l-4.35-4.35M11 18a7 7 0 1 1 0-14 7 7 0 0 1 0 14z" />
          </svg>
        </button>

        <!-- Login -->
        @if(!isLoggedIn){
        <a routerLink="/login" class="hidden md:inline">
          Đăng nhập
        </a>
        }@else{
        <a routerLink="/profile" class="hidden md:inline flex items-center gap-2">
          <!-- <img [src]="user()?.avatar?.url" alt="{{user()?.username}}" class="w-10 h-10 rounded-full"> -->
          <span>
            {{user()?.firstName}} {{user()?.lastName}}
          </span>
        </a>
        }

        <!-- Cart -->
        <button type="button" routerLink="/cart" class="relative text-[--color-muted]">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-shopping-cart-icon lucide-shopping-cart">
            <circle cx="8" cy="21" r="1" />
            <circle cx="19" cy="21" r="1" />
            <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12" />
          </svg>
          <span class="absolute -top-1 -right-1 text-xs bg-red-500 text-white rounded-full px-1.5 py-0.5">{{cartCount()}}</span>
        </button>

        <!-- wishlist -->
        <button type="button" routerLink="/wishlist" class="relative text-[--color-muted]">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-heart-icon lucide-heart">
            <path
              d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z" />
          </svg>
        </button>

        <!-- Mobile menu button -->
        <button class="md:hidden text-[--color-muted] ">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
